{% extends "theme/base.html" %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            Customer Service
        </div>
        <div class="card-body">
            <h5 class="card-title">You can connect to one of our customer service employees by clicking the button bellow</h5>
            <hr>
            <div class="d-flex justify-content-around">
                <a role=button href="{% url 'room-join' %}" class="btn btn-outline-primary">Join Room</a>
                <a role="button" href="{% url 'room-create' %}" class="btn btn-outline-primary">Create Room</a>
            </div>
        </div>
    </div>

{% endblock content %}