{% extends 'base.html' %}

{% block content %}

    <div class="card" style="height: 700px;">
        <div class="card-body overflow-auto" id="scroller">
            <div class="text-center">
                You are connected with Michael {{ support_employee.name }}!
            </div>
            <hr>
            <div id='messages'></div>
        </div>
        <div class="card-footer p-0 m-0">
            <div hx-ext="ws" ws-connect="/chat/{{ slug }}/" class="m-0 p-0">
            <form ws-send>
                <div>
                    <input type="text" class="form-control" name="message" id="textBar" placeholder="Start writing ...">
                </div>
            </form>
        </div>
        </div>
    </div>

<script>
    const scrollingElement = document.getElementById("scroller");

    const config = { childList: true };

    const callback = function (mutationsList, observer) {
      for (let mutation of mutationsList) {
        if (mutation.type === "childList") {
          window.scrollTo(0, document.body.scrollHeight);
        }
      }
    };

    const observer = new MutationObserver(callback);
    observer.observe(scrollingElement, config);
</script>

{% endblock content %}
